.bg-primary{
    background-color: #6a7aa2 !important;
}
img{
   max-width:50%; /* Limita el ancho de la imagen al 50% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}
body{
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; /* Tipo de letra */
    line-height: 1.7; /* Espaciado entre lineas */
}
.bg-secundary{
    background-color: #ffffff55 !important;
}
*{
    font-family: Arial, sans-serif; /* Tipo de letra */
   
}
.progress{
    height: 20px; /* Altura de la barra de progreso */
    border-radius: 10px; /* Bordes redondeados */
    background-color: rgb(53, 49, 49); /* Color de fondo */

}
.blue{
    background-color: #ffffff; /* Color de fondo */
    border-radius: 5px; /* Bordes redondeados */
    color: #434c8b; /* Color del texto */
    padding: 10px; /* Espaciado interno */

}
.color2{
    color: #000000; /* Color del texto */
}
.Educacion{
    background-color: #ffffff; /* Color de fondo */
    color: #434c8b; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}